

body {
    opacity: 0.5;
    background-color:bisque;
    background-image: url("panxray.jpg");
    background-size: 100% auto;
    background-blend-mode: darken;
    font-weight: bold;
}

head {
    font-weight: bold;
}

input {
    width: 60%;
    color: purple;
}   

input[type=checkbox]{
    width: auto;
}

